
<div class="jumbotron center">
  <h1>멘토와 함께라면 유학이 쉬워집니다.</h1>

  	<p>
       <%= link_to "로그인", new_user_session_path, class: "btn btn-default btn-lg" %>
       <%= link_to "회원가입", new_user_registration_path, class: "btn btn-primary btn-lg" %>
  	</p>  
 

</div>